<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
</head>

<body>
  <h1>
    Hello! This is the home page of the blog application
  </h1>
  <h2>
    Links:
    <ul>
      <li><%= link_to 'About', about_path %></li>
    </ul>
  </h2>
  <p>
    This is a paragraph element. It has very little significance to anything at the moment, and therefore it shall stay as a silly little application
  </p>
</body>

</html>
